# pytorch
torch>=1.7.1
torchvision>=0.8.2

# todo: upgrade this
wandb~=0.10.21

# hydra
hydra-core~=1.1.0
omegaconf==2.1.*

# types
mypy~=0.902

# miscellaneous
tqdm>=4.46.0
numpy>=1.16.1
seaborn
setuptools~=50.3.0
