# pytorch
torch~=1.9.0
torchvision~=0.8.0

# todo: upgrade this
wandb~=0.10.21

# hydra
hydra-core~=1.1.0
omegaconf==2.1.*

# types
mypy~=0.902

# miscellaneous
tqdm~=4.40
numpy~=1.20.0
seaborn~=0.11.0
setuptools~=50.3.0
