# pytorch
torch>=1.7.1
torchvision>=0.8.2

# hydra + wandb
omegaconf==1.4.1
hydra-core==0.11.3
wandb~=0.10.21

# types
mypy~=0.902

# miscellaneous
tqdm>=4.46.0
numpy>=1.16.1
seaborn
setuptools~=50.3.0
